{% extends '_base.html' %}
{% load static crispy_forms_tags crispy_forms_field crispy_forms_filters crispy_forms_utils %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Log in{% endblock %}

{% block content %}
    <img src="{% static 'images/Psychology_image.png' %}" class="img-fluid" alt="psylogo launch" height="200"
         width="200" id="logo"/>
    <h2>Welcome to SOSA!</h2>
    <small>This login page is for administrators. To participate in an experiment, click the test link that you were
        given by an administrator.
    </small>

    <form method="post" id="login-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>

    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
{% endblock content %}