{% extends '_base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock content %}