{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}

{% block content %}
    <img src="{% static "img/Psychology_image.png" %}" width="150" height="150">
    <h2>Welcome to SOSA!</h2>
    <small>This login page is for administrators. To participate in an experiment, click the test link that you were given by an administrator.</small>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
{#    <a href="admin_home" class="btn btn-danger" style="margin-top:10px;">Bypass Login</a>#}
{% endblock %}