{% extends "_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/board_list.css" %}">
{% endblock %}

{% block content %}
    <table id="myTable" align="center" style="display: block; overflow-y: scroll">
        <tr class="header">
            <th>Your Boards</th>
        </tr>
        <!--FILL IN THE TABLE WITH RESULTS FROM THE DATABASE-->
        {% for board in boards %}
            <tr>
                <td><button class="btn">{{ board.boardname }}</button></td>
            </tr>
        {% endfor %}
    </table>
    <a href="create" class="btn btn-primary" id="createNew">Create New Board</a>
{% endblock %}