{% extends '_base.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block title %}Home{% endblock title %}

{% block content %}
    <img src="{% static 'images/Psychology_image.png' %}" class="img-fluid" alt="SOSA Logo" height="200" width="200" id="logo"/>
    <h1>SOSA</h1>
    <p>Simultaneous Object and Subjective Assessment</p>
    <hr>
    <p> Welcome {{ user.email }}!</p>
    <a href="/boards" class="btn btn-primary home-button">Create Board</a>
    <a href="/stimsets" class="btn btn-primary home-button">Create Stimulus Set</a>
    <a href="/create_experiment" class="btn btn-primary home-button">Create Experiment</a>
{#    <a href="/view_results" class="btn btn-primary home-button">View Results</a>#}
{% endblock content %}

