{% extends "_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/stim_sets.css" %}">
{% endblock %}

{% block content %}
    <table id="myTable" align="center" style="display: block; overflow-y: scroll">
        <tr class="header">
            <th>Stims in the StimSet</th>
        </tr>
        <!--FILL IN THE TABLE WITH RESULTS FROM THE DATABASE-->
        {% for stimulus in stimuli %}
            {% if stimulus.stimsetid_id %}
                <tr>
                    <td><a href="{{ stimulus.stimsetid_id }}" class="btn">{{ stimulus.stimlabel }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        <!--FILL IN THE TABLE WITH RESULTS FROM THE DATABASE-->
    </table>
    <a href="create" class="btn btn-primary" id="createNew">Create New Stimulus</a>
    <p>{{ stimsetid_id }}</p>
{% endblock %}