/* Inspired by Sunil Rajput at Bootsnipp */

body {
	/*background: #7C3293;  !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to right, #7C3293, #42538D);  !* Chrome 10-25, Safari 5.1-6 *!*/
	background: linear-gradient(to right, #852897, #007aff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
	align-content: center;
}

.mx-auto {
	width: 1100px;
	margin: 20px;
	background-color: #ffffff;
	opacity: 0.8;
	padding: 20px;
}

#submitExperiment {
	margin-top: 10px;
}

td button {
	width: 450px;
	height: inherit;
}

small {
	margin-top: 10px;
}

#home {
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
}

#settings {
	width: 60px;
	position: absolute;
	top: 0;
	right: 0;
}

.drop-list {
	width: auto;
	margin: auto;
}

table {
	width: 500px;
	border-collapse: collapse;
	font-size: 18px;
	display: block;
	overflow-y: scroll;
	max-height: 250px;
	border: 1px solid #ddd;
}

#stimTable {
	max-height: 500px;
	margin-right: 45px;
}

th, td {
    border: 1px solid #ddd;
	width: 500px;
	text-align: center;
	padding: 12px;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr.header {
  background-color: #f1f1f1;
}

.btn-success {
	margin: 10px;
}

.show {display: block;}